{% extends "base.html" %}

{% block title %}Article detail{% endblock title %}

{% block body %}
    <!-- hs About Title Start -->
    <div class="hs_indx_title_main_wrapper">
        <div class="hs_title_img_overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 full_width">
              <div class="hs_indx_title_left_wrapper">
                <h2>Məqalənin Detalları</h2>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 full_width">
              <div class="hs_indx_title_right_wrapper">
                <ul>
                  <li><a href="index.html">Ana Səhifə</a> &nbsp;&nbsp;&nbsp;></li>
                  <li>Məqalənin Detalları</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- hs About Title End -->
      <!-- hs sidebar Start -->
      <div class="hs_blog_categories_main_wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 blog-details-left">
              <div class="hs_blog_left_sidebar_main_wrapper">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="hs_blog_box1_main_wrapper">
                      <div class="hs_blog_box1_img_wrapper">
                        <img src="images/content/blog/bc1.jpg" alt="blog_img" />
                        <ul>
                          <li>24 April, 2024</li>
                        </ul>
                      </div>
                      <div class="hs_blog_box1_cont_main_wrapper">
                        <div class="hs_blog_cont_heading_wrapper">
                          <h2>Rahu Enters Cancer and Ketu Enters Capricorn.</h2>
                          <h4><span>&nbsp;</span></h4>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dlore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea odo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia
                            deserunt mollit anim id est labrum. Sed ut
                            perspiciatis unde omnis iste natus error sit.<br /><br />Voluptatem
                            accusantium doloremque laudantium, totam rem aperiam,
                            eaque ipsa quae ab illo inventore atis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo
                            enim ipsam voluptatem quia voluptas sit rnatur aut
                            odit aut fugit, sed quia consequuntur magni dolores
                            eos qui ratione voluptatem sequi nesciunt. Neque porro
                            quisquam est, qui dolorem ipsum quia dolor sit amet,
                            consectetur, adipisci velit, sed quia non mquam eius
                            modi tempora incidunt ut labore et dolore.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="blog-area blog-related-area">
                <div class="row post-items-style3">
                  <div class="col-lg-4 col-md-6 meta-col-6">
                    <div class="single_related">
                      <div class="related_thumb">
                        <a
                          href="images/content/blog/bc1.jpg"
                          data-fancybox="blog-images"
                        >
                          <img src="images/content/blog/bc1.jpg" alt="" />
                          <span class="zoom-icon"
                            ><i class="fas fa-search"></i
                          ></span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 meta-col-6">
                    <div class="single_related">
                      <div class="related_thumb">
                        <a
                          href="images/content/blog/bc2.jpg"
                          data-fancybox="blog-images"
                        >
                          <img src="images/content/blog/bc2.jpg" alt="" />
                          <span class="zoom-icon"
                            ><i class="fas fa-search"></i
                          ></span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 meta-col-6">
                    <div class="single_related">
                      <div class="related_thumb">
                        <a
                          href="images/content/blog/bc3.jpg"
                          data-fancybox="blog-images"
                        >
                          <img src="images/content/blog/bc3.jpg" alt="" />
                          <span class="zoom-icon"
                            ><i class="fas fa-search"></i
                          ></span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 meta-col-6">
                    <div class="single_related">
                      <div class="related_thumb">
                        <a
                          href="images/content/blog/bc1.jpg"
                          data-fancybox="blog-images"
                        >
                          <img src="images/content/blog/bc1.jpg" alt="" />
                          <span class="zoom-icon"
                            ><i class="fas fa-search"></i
                          ></span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 meta-col-6">
                    <div class="single_related">
                      <div class="related_thumb">
                        <a
                          href="images/content/blog/bc2.jpg"
                          data-fancybox="blog-images"
                        >
                          <img src="images/content/blog/bc2.jpg" alt="" />
                          <span class="zoom-icon"
                            ><i class="fas fa-search"></i
                          ></span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 meta-col-6">
                    <div class="single_related">
                      <div class="related_thumb">
                        <a
                          href="images/content/blog/bc3.jpg"
                          data-fancybox="blog-images"
                        >
                          <img src="images/content/blog/bc3.jpg" alt="" />
                          <span class="zoom-icon"
                            ><i class="fas fa-search"></i
                          ></span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
              <div class="hs_blog_right_sidebar_main_wrapper">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="hs_blog_right_search_wrapper">
                      <form action="#">
                        <input placeholder="Axtar..." type="text" />
                        <i class="fa fa-search"></i>
                      </form>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div
                      class="hs_blog_right_cate_list_heading_wrapper hs_vs_list_wrapper"
                    >
                      <h2>Kateqoriyalar</h2>
                    </div>
                    <div class="hs_blog_right_cate_list_cont_wrapper">
                      <ul>
                        <li><a href="#">Elmi</a></li>
                        <li><a href="#">Araşdırma</a></li>
                        <li><a href="#">Sehrli</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="hs_kd_right_first_sec_wrapper hs_vs_list_wrapper">
                      <div class="hs_blog_right_cate_list_heading_wrapper">
                        <h2>son məqalələr</h2>
                      </div>
                      <div class="hs_blog_right_recnt_cont_wrapper">
                        <div class="hs_footer_ln_img_wrapper">
                          <a href="blog-details.html">
                            <img
                              src="images/content/blog/b1.jpg"
                              class="img-responsive"
                              alt="ln_img"
                            />
                          </a>
                        </div>
                        <div class="hs_footer_ln_cont_wrapper">
                          <h4>
                            <a href="blog-details.html"
                              >Astrolger Member in the life soltion.</a
                            >
                          </h4>
                          <p>12 May 2018</p>
                        </div>
                      </div>
                      <div class="hs_blog_right_recnt_cont_wrapper">
                        <div class="hs_footer_ln_img_wrapper">
                          <a href="blog-details.html"
                            ><img
                              src="images/content/blog/b2.jpg"
                              class="img-responsive"
                              alt="ln_img"
                          /></a>
                        </div>
                        <div class="hs_footer_ln_cont_wrapper">
                          <h4>
                            <a href="blog-details.html"
                              >Astrolger Member in the life soltion.</a
                            >
                          </h4>
                          <p>12 May 2018</p>
                        </div>
                      </div>
                      <div class="hs_blog_right_recnt_cont_wrapper">
                        <div class="hs_footer_ln_img_wrapper">
                          <a href="blog-details.html">
                            <img
                              src="images/content/blog/b3.jpg"
                              class="img-responsive"
                              alt="ln_img"
                          /></a>
                        </div>
                        <div class="hs_footer_ln_cont_wrapper">
                          <h4>
                            <a href="blog-details.html"
                              >Astrolger Member in the life soltion.</a
                            >
                          </h4>
                          <p>12 May 2018</p>
                        </div>
                      </div>
                      <div class="hs_blog_right_recnt_cont_wrapper last">
                        <div class="hs_footer_ln_img_wrapper">
                          <a href="blog-details.html">
                            <img
                              src="images/content/blog/b4.jpg"
                              class="img-responsive"
                              alt="ln_img"
                          /></a>
                        </div>
                        <div class="hs_footer_ln_cont_wrapper">
                          <h4>
                            <a href="blog-details.html"
                              >Astrolger Member in the life soltion.</a
                            >
                          </h4>
                          <p>12 May 2018</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- hs sidebar End -->
{% endblock body %}