{% extends "base.html" %}

{% block title %}Video{% endblock title %}

{% block body %}
    <!-- hs About Title Start -->
    <div class="hs_indx_title_main_wrapper">
        <div class="hs_title_img_overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 full_width">
              <div class="hs_indx_title_left_wrapper">
                <h2>Videolar</h2>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 full_width">
              <div class="hs_indx_title_right_wrapper">
                <ul>
                  <li><a href="{% url 'main-page' %}">Ana Səhifə</a> &nbsp;&nbsp;&nbsp;></li>
                  <li>Videolar</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- hs About Title End -->
      <!-- hs sidebar Start -->
      <div class="hs_blog_categories_main_wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="hs_blog_left_sidebar_main_wrapper">
                <div class="row">
                  {% for video in videos %}
                  <div class="col-lg-6 col-md-6">
                    <div class="hs_blog_box1_main_wrapper">
                      <div class="hs_blog_box1_video_wrapper">
                        <iframe
                          width="560"
                          height="315"
                          src="{{video.video_url}}"
                          title="YouTube video player"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                          referrerpolicy="*"
                          allowfullscreen
                        ></iframe>
                      </div>
                      <div class="hs_blog_box1_cont_main_wrapper">
                        <div class="hs_blog_cont_heading_wrapper">
                          <div class="blog-title">
                            <a href="#"
                              ><h2>{{video.title}}</h2></a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {%endfor%}
                  <div
                    class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-lg visible-md"
                  >
                  <div class="pagination-area">
                    <nav>
                        <ul class="page-numbers">
                            {% if is_paginated %}
                                {% if page_obj.has_previous %}
                                    <li>
                                        <a class="page-number next" href="?page={{ page_obj.previous_page_number }}">
                                            <i class="fa-solid fa-arrow-left"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <span class="page-number next disabled">
                                            <i class="fa-solid fa-arrow-left"></i>
                                        </span>
                                    </li>
                                {% endif %}
                
                                {% for page_num in page_obj.paginator.page_range %}
                                    {% if page_num == page_obj.number %}
                                        <li>
                                            <a class="page-number active" href="?page={{ page_num }}">{{ page_num }}</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a class="page-number" href="?page={{ page_num }}">{{ page_num }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                
                                {% if page_obj.has_next %}
                                    <li>
                                        <a class="page-number next" href="?page={{ page_obj.next_page_number }}">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </a>
                                    </li>
                                {% else %}
                                    <li>
                                        <span class="page-number next disabled">
                                            <i class="fa-solid fa-arrow-right"></i>
                                        </span>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- hs sidebar End -->
{% endblock body %}